html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

.menu-hidden {
  display: none;
}
.menu-visible {
  display: block;
}

.contain {
  margin: 20% 0px;
}
.spacer {
  width: 100% !important;
}
